.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #141414;
}

.baseColor {
  background-color: #141414;
}

.orange {
  background-color: #f86205;
}

.orange-text {
  color: #f86205;
}

.navbar-brand {
  font-family: "Satisfy";
  font-size: 40px;
}


.navbar-brand:hover {
  color: #f86205;
}

.navbar-nav {

  font-family: "Alegreya Sans";
  font-size: 1.2em;
}



input:hover {
  /* border-color: #f86205; */
  box-shadow: 0 0 0 0.15rem rgba(248, 98, 5)
}

.form-control:focus {
  /* border-color: #f86205; */
  /* border-width: 0.15em; */
  box-shadow: 0 0 0 0.15rem rgba(248, 98, 5)
}

.btn-block {
  border-radius: 10px;
  height: 2.5em;
  font-weight: bold;
  font-family: "Alegreya Sans";
  font-size: larger;
  color: aliceblue;
}

.Hind {
  font-family: "Hind";
}

.AlegreyaSans {
  font-family: "Alegreya Sans";
}

.Satisfy {
  font-family: "Satisfy";
}

.Merriweather {
  font-family: 'Merriweather', serif;
}

.btn {

  color: aliceblue;
}

.heading {
  font-family: "Alegreya Sans";
}

.full_star {


  color: linear-gradient(106deg, rgba(255, 226, 0, 1) 0%, rgba(250, 210, 5, 1) 51%, rgba(255, 157, 0, 1) 80%);
  color: rgb(255, 226, 0);
  margin: 5px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;

}

.nav-link {
  cursor: pointer;
}

.footer {
  background: #1f1f1f;

}

.product-large {
  height: 620px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  padding-top: 285px;
}